# Python

venv/
__pycache__/
*.pyc
*.sqlite3

# Environment variables

.env

# Node

node_modules/
dist/
build/

# VS Code

.vscode/

# JetBrains

.idea/

# OS files

.DS_Store
Thumbs.db

# Pytest

.pytest_cache/